@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&display=swap');

body{
    font-family: 'Cormorant Garamond', serif;
}



.sidenav {
    height: 100%;
    margin-top: 4rem;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .reg-img {
  
      width: 50vw;
      height: 100%;
  
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #7F9C96;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  nav {
    background-color: #0D2818;
    }
    nav a{
        color: #F5FF90;
        font-size: 1.5rem;
    }
    .navbar-brand, .logo{
    font-size: 2.2rem;
    text-transform: uppercase;
    }
    .btn-search {
    background-color: #F5FF90;
    }