{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}


{% block sidebar %} {{block.super}}
    <!-- <div>
        <p><strong>Neighborhoods</strong></p>
    {% for neighborhood in hoods %}
        <ul>
            <li>
                {{neighborhood.name }}
            </li>
        </ul>
        {% endfor %}
    </div> -->
    <div class="biz-section">
        <p><strong>
            <a style="color: black; text-decoration: none;" href="{% url 'business_list' %}">Businesses</a>
        </strong></p>
    </div>
    <div class="contacts">
        <p><strong>
            <a style="color: black; text-decoration: none;" href="{% url 'contacts_list' %}">Contacts</a>
        </strong></p>

    </div>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h3>What's on your mind?</h3>
                <div>
                    <form class="post-form" action="{% url 'add_post' %}" method='POST'>
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-primary post-btn" type="submit">Post</button>
                        <button class="btn btn-secondary upload-btn" type="button">Upload image</button>
                    </form>
                </div>
                <hr class="content-border">
                <div id="posts-box">
                    {% if posts %}
                        {% for post in posts %}
                   
                            <div class="">
                              <strong>{{post.author|title}} </strong>&middot;
                              <small>{{ post.created|timesince}} ago</small> | from {{ post.author.profile.neighborhood }}
                             
                            </div>
                            <div class="post-body">
                                {% if post.image %}
                                    {% cloudinary post.image class="post-image" %}
                                {% endif %}
                                {{ post.body }}
                                <br>
                                <a href="{% url 'post_details' post.id %}">Comment</a>
                                {% if user == post.author %}
                                    {% include 'actions.html' %}
                                {% endif %}
                               <hr>
                              
                            </div>
                    
                        {% endfor %}
                        {% else %}
                        <p>The are no posts yet. Be the first!</p>
                    {% endif %}
                </div>
            </div>
        </div>
   
    </div>
{% endblock %}
